body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.form-input,
.form-select {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #00ff00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00cc00;
}

.btn-primary {
    background-color: #ff00ff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #cc00cc;
}

.btn-secondary {
    background-color: #ffcc00;
    color: #000;
}

.btn-secondary:hover {
    background-color: #cc9900;
}

.progress-label {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.form-select {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form-select option {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.form-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
}

.form-select option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.d-flex {
    display: flex;
}

.mx-1 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.ml-1 {
    margin-left: .5rem;
}

.mr-1 {
    margin-right: .5rem;
}